{% extends "base.html" %}

{% block header %}
<h1>Register</h1>
{% endblock %}

{% block content %}
<form action="{{ registerUrl }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrf }}" />
    <p><label>Email: <input type="text" name="email"/></label></p>
    <p><label>Password: <input type="password" name="password"/></label></p>
    <p><label>Password confirmation: <input type="password" name="passwordConfirmation"/></label></p>
    <p><button type="submit">Register</button></p>
</form>
{% endblock %}
