{% extends "base.html" %}

{% block content %}
<h1>Register</h1>
<form action="{{ register_url }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrf }}" />
    <p><label>Username: <input type="text" name="username"/></label></p>
    <p><label>Password: <input type="password" name="password"/></label></p>
    <p><label>Password confirmation: <input type="password" name="password_confirmation"/></label></p>
    <p><button type="submit">Register</button></p>
</form>
{% endblock %}
